body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/*Carousel*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

footer {
  margin-top: 20px;
  margin-bottom: 0;
}

/*
MAIN CAROUSEL - JS
*/
.main-carousel {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 !important;
  width: 90%;
  max-width: 1200px;
}

.mySlides {
  display: none;
}

/* Next & prev buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white !important;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next" arrow to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover add a black background */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Slides number */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*Caption's container*/
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

/*Bullet's container*/
.bullets-container {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 4%;
  right: 20px;
}

.bullets {
  list-style: none;
  text-align: center;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.bullets li {
  display: inline-block;
}

.bullets li span.bullet {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 3px;
}

.bullets li.active span.bullet {
  background-color: #00a1de;
}

@media (min-width: 768px) {
  .bullets li span.bullet {
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 5px;
  }

  .bullets li span.bullet:hover {
    background-color: grey;
  }
}

@media (max-width: 767px) {
  .bullets-container {
    left: 20px;
    bottom: 2%;
  }
}

/*
SECONDARY CAROUSEL - CSS
*/

.css-carousel-main {
  width: 625px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px white;
}

.css-carousel-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 225px;
}

.css-carousel-container:hover {
  animation-play-state: paused;
}

.css-carousel-container a img {
  width: 625px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.css-carousel-container a.vertical-slide img {
  width: 320px;
  height: auto;
}

.slide {
  animation: slide 24s ease infinite;
}

/*All devices except for Mobile*/
@media (min-width: 321px) {

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }

    12.5% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(-25%);
    }

    37.5% {
      transform: translateX(-25%);
    }

    50% {
      transform: translateX(-50%);
    }

    62.5% {
      transform: translateX(-50%);
    }

    75% {
      transform: translateX(-75%);
    }

    87.5% {
      transform: translateX(-75%);
    }

    99% {
      transform: translateX(-75%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

/*Mobile adaptation of the animation*/
@media (max-width: 320px) {

  @keyframes slide {
    0%, 20% {
      transform: translateX(0);
    }
    25%, 45% {
      transform: translateX(-320px);
    }
    50%, 70% {
      transform: translateX(-640px);
    }
    75%, 90% {
      transform: translateX(-960px);
    }
    95%, 100% {
      transform: translateX(-1280px);
    }
  }
  .css-carousel-main {
    width: 320px;
    height: 400px;
  }
}
