<div class="css-carousel-main">
  <div *ngIf="apiError.error; then errorDisplay else carouselDisplay">
  </div>
  <ng-template #carouselDisplay>
    <div *ngIf="slides?.length > 0; else emptySlides" class="css-carousel-container slide">
      <a href="#" *ngFor="let slide of slides"
         [ngClass]="(slide.type=='vertical') ? 'hidden-sm-up vertical-slide' : 'hidden-xs-down'">
        <img class="img-fluid" src="../../assets/img/{{slide.file}}" alt="">
      </a>
    </div>
  </ng-template>
  <ng-template #emptySlides>
    <div class="container">
      <h4 class="card-title">No data available
      </h4>
      <div class="card-block h-100">
        <p>We didn't find any available data! We are sorry...</p>
        <p>Please try again, if the error persists contact technical support at
          <a
            href="mailto:riccardo.polacci@sytac.io?subject=API call empty data (slide's data)">riccardo.polacci@sytac.io</a>
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template #errorDisplay>
    <div class="container">
      <h4 class="card-title">{{apiError.msg}}
      </h4>
      <div class="card-block h-100">
        <p>An error occurred while trying to retrieve the data! We are sorry...</p>
        <p>Please try again, if the error persists contact technical support at
          <a
            href="mailto:riccardo.polacci@sytac.io?subject=API call error (css slide's data)">riccardo.polacci@sytac.io</a>
        </p>
      </div>
    </div>
  </ng-template>
</div>
<!-- /.row -->
