<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">Custom ng4 Carousel</a>
  </div>
</nav>
<!-- /.Navigation -->

<!-- Page Content -->
<div class="container">

  <app-main-carousel></app-main-carousel>

  <!-- Related Projects Row -->
  <h3 class="my-4">CSS Carousel</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-inverse">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Riccardo Polacci 2017</p>
  </div>
  <!-- /.container -->
</footer>
