<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">Custom ng4 Carousel</a>
  </div>
</nav>
<!-- /.Navigation -->

<!-- Page Content -->
<div class="container">
  <app-main-carousel></app-main-carousel>
  <app-secondary-carousel></app-secondary-carousel>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-inverse">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Riccardo Polacci 2017</p>
  </div>
  <!-- /.container -->
</footer>
