<div *ngIf="apiError.error; then errorDisplay else carouselDisplay">
</div>
<ng-template #carouselDisplay>
  <div *ngIf="slides?.length > 0; else emptySlides">
    <div class="mySlides" *ngFor="let slide of slides; let i = index" id="image_{{i}}"
         [ngStyle]="{'display': slide.show ? 'block' : 'none' }">
      <!--Alternative way for viewing currentSlide / totalSlides-->
      <!--<div class="numbertext">{{i + 1}} / {{slides.length}}</div>-->
      <img class="img-fluid" src="../../assets/img/{{slide.file}}" style="width:100%">
    </div>

    <a class="prev" (click)="changeSlide(-1)">❮</a>
    <a class="next" (click)="changeSlide(1)">❯</a>

    <div class="bullets-container">
      <ol class="bullets">
        <li *ngFor="let slide of slides; let i = index" [ngClass]="{'active': slideIndex === (i + 1)}">
          <span class="bullet hidden-xs-down" (click)="bulletClick(i)"></span>
          <span class="bullet hidden-sm-up"></span>
        </li>
      </ol>
    </div>

    <div class="caption-container">
      <p id="caption">{{captionTxt}}</p>
    </div>
  </div>
</ng-template>
<ng-template #emptySlides>
  <div class="container">
    <h4 class="card-title">No data available
    </h4>
    <div class="card-block h-100">
      <p>We didn't find any available data! We are sorry...</p>
      <p>Please try again, if the error persists contact technical support at
        <a
          href="mailto:riccardo.polacci@sytac.io?subject=API call empty data (slide's data)">riccardo.polacci@sytac.io</a>
      </p>
    </div>
  </div>
</ng-template>
<ng-template #errorDisplay>
  <div class="container">
    <h4 class="card-title">{{apiError.msg}}
    </h4>
    <div class="card-block h-100">
      <p>An error occurred while trying to retrieve the data! We are sorry...</p>
      <p>Please try again, if the error persists contact technical support at
        <a
          href="mailto:riccardo.polacci@sytac.io?subject=API call error (slide's data)">riccardo.polacci@sytac.io</a>
      </p>
    </div>
  </div>
</ng-template>
